  <div id="<%= dom_id preview %>">
    <p>
      <strong>Url:</strong>
      <%= preview.url %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= preview.og_type %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= image_tag(preview.image) %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= preview.title %>
    </p>

    <p>
      <strong>Prefix:</strong>
      <%= preview.prefix %>
    </p>

  </div>
  <%= button_to 'Destroy', preview_path(preview), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
