<div id="<%= dom_id preview %>">
  <p>
    <strong>Title:</strong>
    <%= preview.title %>
  </p>
  <p>
    <strong>Url:</strong>
    <%= preview.url %>
  </p>

  <%= image_tag(preview.image) %>

</div>
<%= button_to 'Destroy', preview_path(preview), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
