<div id="<%= dom_id preview %>", class="preview-item">
  <p class="url-title">
    <%= preview.title %>
  </p>
  <div class="url">
    <%= link_to preview.url, preview.url %>
  </div>

  <%= image_tag(preview.image, class: "block-image") %>

  <%= button_to 'Destroy', preview_path(preview), method: :delete, class: 'danger danger-small' %>
</div>
